@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .box-shadow-custom {
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
  }
  .light-font {
    font-family: var(--font-light);
  }
}
